<a href="https://colab.research.google.com/github/aworklab/everydayPython/blob/main/ex_20220720.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오늘의 목표 

* iterator

In [3]:
import pandas as pd 
import numpy as np
import seaborn as sns
from datetime import datetime, date, time, timezone, timedelta
import os 
from functools import reduce
from collections import namedtuple, defaultdict, ChainMap, Counter

# iterator

In [4]:
mat = [list('ABC'), list('EFG'), list('HIJ')]
mat

[['A', 'B', 'C'], ['E', 'F', 'G'], ['H', 'I', 'J']]

In [5]:
for r, rows in enumerate(mat) :
  for c, letter in enumerate(rows) :
    print(f'({r},{c}) : {letter}')

(0,0) : A
(0,1) : B
(0,2) : C
(1,0) : E
(1,1) : F
(1,2) : G
(2,0) : H
(2,1) : I
(2,2) : J

In [6]:
users = [{'mail': 'gregorythomas@gmail.com', 'name': 'Brett Holland', 'sex': 'M', 'age': 73},
 {'mail': 'hintoncynthia@hotmail.com', 'name': 'Madison Martinez', 'sex': 'F', 'age': 29},
 {'mail': 'wwagner@gmail.com', 'name': 'Michael Jenkins', 'sex': 'M', 'age': 51},
 {'mail': 'daniel79@gmail.com', 'name': 'Karen Rodriguez', 'sex': 'F', 'age': 32},
 {'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F', 'age': 42}]
users

[{'age': 73,
  'mail': 'gregorythomas@gmail.com',
  'name': 'Brett Holland',
  'sex': 'M'},
 {'age': 29,
  'mail': 'hintoncynthia@hotmail.com',
  'name': 'Madison Martinez',
  'sex': 'F'},
 {'age': 51,
  'mail': 'wwagner@gmail.com',
  'name': 'Michael Jenkins',
  'sex': 'M'},
 {'age': 32,
  'mail': 'daniel79@gmail.com',
  'name': 'Karen Rodriguez',
  'sex': 'F'},
 {'age': 42, 'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F'}]

In [9]:
list_keys = list(users[0].keys())

for key in list_keys :
  if key == list_keys[0] :
    res = eval(f'reduce(lambda acc, cur : acc + [cur["{key}"]], users, [])')
  else :
    res = np.c_[res, eval(f'reduce(lambda acc, cur : acc + [cur["{key}"]], users, [])')]

res

array([['gregorythomas@gmail.com', 'Brett Holland', 'M', '73'],
       ['hintoncynthia@hotmail.com', 'Madison Martinez', 'F', '29'],
       ['wwagner@gmail.com', 'Michael Jenkins', 'M', '51'],
       ['daniel79@gmail.com', 'Karen Rodriguez', 'F', '32'],
       ['ujackson@gmail.com', 'Amber Rhodes', 'F', '42']], dtype='<U25')

In [10]:
a = np.random.randint(1,10, 100)
Counter(a)

Counter({1: 6, 2: 12, 3: 15, 4: 8, 5: 11, 6: 17, 7: 7, 8: 8, 9: 16})

In [11]:
portfolio = [
    ('GOOG', 100, 490.1),
    ('IBM', 50, 91.1),
    ('CAT', 150, 83.44),
    ('IBM', 100, 45.23),
    ('GOOG', 75, 572.45),
    ('AA', 50, 23.15)
]
portfolio

[('GOOG', 100, 490.1),
 ('IBM', 50, 91.1),
 ('CAT', 150, 83.44),
 ('IBM', 100, 45.23),
 ('GOOG', 75, 572.45),
 ('AA', 50, 23.15)]

In [12]:
res = Counter()

for com, share, price in portfolio :
  res[com] += share

res

Counter({'AA': 50, 'CAT': 150, 'GOOG': 175, 'IBM': 150})

In [14]:
res = defaultdict(list) 

for com, share, price in portfolio : 
  res[com].append((share, price))
  
res

defaultdict(list,
            {'AA': [(50, 23.15)],
             'CAT': [(150, 83.44)],
             'GOOG': [(100, 490.1), (75, 572.45)],
             'IBM': [(50, 91.1), (100, 45.23)]})