<a href="https://colab.research.google.com/github/aworklab/everydayPython/blob/main/ex_20220718.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오늘의 목표 
* customer analysis
* iterators

In [34]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from datetime import datetime, date, time, timezone, timedelta 
import os 
from functools import reduce 
from collections import Counter, ChainMap, defaultdict

# customer analysis

# iterators

In [4]:
mat = [list('ABC'), list('DEF'), list('GHI')]
mat

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

In [5]:
for r, rows in enumerate(mat) :
  for c, letter in enumerate(rows) :
    print(f'({r},{c}) {letter}')

(0,0) A
(0,1) B
(0,2) C
(1,0) D
(1,1) E
(1,2) F
(2,0) G
(2,1) H
(2,2) I

In [6]:
users = [{'mail': 'gregorythomas@gmail.com', 'name': 'Brett Holland', 'sex': 'M', 'age': 73},
 {'mail': 'hintoncynthia@hotmail.com', 'name': 'Madison Martinez', 'sex': 'F', 'age': 29},
 {'mail': 'wwagner@gmail.com', 'name': 'Michael Jenkins', 'sex': 'M', 'age': 51},
 {'mail': 'daniel79@gmail.com', 'name': 'Karen Rodriguez', 'sex': 'F', 'age': 32},
 {'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F', 'age': 42}]
users

[{'age': 73,
  'mail': 'gregorythomas@gmail.com',
  'name': 'Brett Holland',
  'sex': 'M'},
 {'age': 29,
  'mail': 'hintoncynthia@hotmail.com',
  'name': 'Madison Martinez',
  'sex': 'F'},
 {'age': 51,
  'mail': 'wwagner@gmail.com',
  'name': 'Michael Jenkins',
  'sex': 'M'},
 {'age': 32,
  'mail': 'daniel79@gmail.com',
  'name': 'Karen Rodriguez',
  'sex': 'F'},
 {'age': 42, 'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F'}]

In [7]:
pd.DataFrame(users)

                        mail              name sex  age
0    gregorythomas@gmail.com     Brett Holland   M   73
1  hintoncynthia@hotmail.com  Madison Martinez   F   29
2          wwagner@gmail.com   Michael Jenkins   M   51
3         daniel79@gmail.com   Karen Rodriguez   F   32
4         ujackson@gmail.com      Amber Rhodes   F   42

In [9]:
list_keys = list(users[0].keys())
list_keys

['mail', 'name', 'sex', 'age']

In [10]:
for key in list_keys : 
  if key == list_keys[0] :
    res = eval(f'reduce(lambda acc, cur : acc + [cur["{key}"]], users, [])')
  else :
    res = np.c_[res, eval(f'reduce(lambda acc, cur : acc + [cur["{key}"]], users, [])')]

res

array([['gregorythomas@gmail.com', 'Brett Holland', 'M', '73'],
       ['hintoncynthia@hotmail.com', 'Madison Martinez', 'F', '29'],
       ['wwagner@gmail.com', 'Michael Jenkins', 'M', '51'],
       ['daniel79@gmail.com', 'Karen Rodriguez', 'F', '32'],
       ['ujackson@gmail.com', 'Amber Rhodes', 'F', '42']], dtype='<U25')

In [11]:
pd.DataFrame(res, columns = list_keys)

                        mail              name sex age
0    gregorythomas@gmail.com     Brett Holland   M  73
1  hintoncynthia@hotmail.com  Madison Martinez   F  29
2          wwagner@gmail.com   Michael Jenkins   M  51
3         daniel79@gmail.com   Karen Rodriguez   F  32
4         ujackson@gmail.com      Amber Rhodes   F  42

In [16]:
list(map(lambda x : x['name'].split(), users))

[['Brett', 'Holland'],
 ['Madison', 'Martinez'],
 ['Michael', 'Jenkins'],
 ['Karen', 'Rodriguez'],
 ['Amber', 'Rhodes']]

In [13]:
a = np.random.randint(1, 10, 100)
a

array([8, 1, 5, 7, 1, 2, 3, 5, 2, 6, 8, 2, 6, 6, 2, 1, 3, 9, 2, 2, 3, 7,
       9, 9, 1, 7, 8, 2, 8, 3, 4, 3, 4, 4, 6, 2, 5, 6, 1, 7, 5, 5, 4, 1,
       3, 7, 9, 9, 9, 1, 2, 3, 3, 7, 1, 3, 7, 2, 2, 7, 7, 1, 5, 1, 2, 1,
       3, 4, 4, 2, 9, 1, 7, 1, 2, 3, 5, 4, 9, 9, 9, 8, 9, 9, 8, 2, 8, 2,
       8, 9, 2, 2, 3, 3, 2, 9, 1, 6, 9, 2])

In [14]:
Counter(a)

Counter({1: 14, 2: 20, 3: 13, 4: 7, 5: 7, 6: 6, 7: 10, 8: 8, 9: 15})

In [24]:
from itertools import combinations, combinations_with_replacement, permutations, product

In [18]:
a = list('ABCDEF')
a

['A', 'B', 'C', 'D', 'E', 'F']

In [23]:
[list(x) for x in combinations(a,1)]

[['A'], ['B'], ['C'], ['D'], ['E'], ['F']]

In [25]:
[list(x) for x in combinations(a,1)]

[['A'], ['B'], ['C'], ['D'], ['E'], ['F']]

In [26]:
[list(x) for x in permutations(a, 2)]

[['A', 'B'],
 ['A', 'C'],
 ['A', 'D'],
 ['A', 'E'],
 ['A', 'F'],
 ['B', 'A'],
 ['B', 'C'],
 ['B', 'D'],
 ['B', 'E'],
 ['B', 'F'],
 ['C', 'A'],
 ['C', 'B'],
 ['C', 'D'],
 ['C', 'E'],
 ['C', 'F'],
 ['D', 'A'],
 ['D', 'B'],
 ['D', 'C'],
 ['D', 'E'],
 ['D', 'F'],
 ['E', 'A'],
 ['E', 'B'],
 ['E', 'C'],
 ['E', 'D'],
 ['E', 'F'],
 ['F', 'A'],
 ['F', 'B'],
 ['F', 'C'],
 ['F', 'D'],
 ['F', 'E']]

In [27]:
a, b = list('ABC'), list('123')
print(a)
print(b)

['A', 'B', 'C']
['1', '2', '3']

In [28]:
[x for x in product(a, b)]

[('A', '1'),
 ('A', '2'),
 ('A', '3'),
 ('B', '1'),
 ('B', '2'),
 ('B', '3'),
 ('C', '1'),
 ('C', '2'),
 ('C', '3')]

In [29]:
a = list('ABCDEF')
b = list('!@#$%')
c = list('12345')

In [30]:
ChainMap(a, b, c)

ChainMap(['A', 'B', 'C', 'D', 'E', 'F'], ['!', '@', '#', '$', '%'], ['1', '2', '3', '4', '5'])

In [31]:
portfolio = [
    ('GOOG', 100, 490.1),
    ('IBM', 50, 91.1),
    ('CAT', 150, 83.44),
    ('IBM', 100, 45.23),
    ('GOOG', 75, 572.45),
    ('AA', 50, 23.15)
]

In [33]:
total1, total2 = Counter(), Counter()

for company, share, price in portfolio :
  total1[company] += share 
  total2[company] += price

print(total1)
print(total2)

Counter({'GOOG': 175, 'IBM': 150, 'CAT': 150, 'AA': 50})
Counter({'GOOG': 1062.5500000000002, 'IBM': 136.32999999999998, 'CAT': 83.44, 'AA': 23.15})

In [35]:
wow = defaultdict(list)

for com, share, price in portfolio :
  wow[com].append((share, price))

wow

defaultdict(list,
            {'AA': [(50, 23.15)],
             'CAT': [(150, 83.44)],
             'GOOG': [(100, 490.1), (75, 572.45)],
             'IBM': [(50, 91.1), (100, 45.23)]})

In [36]:
a = {'a' : 1, 'b' : 2}
b = {'c' : 5, 'd' : 6}

ChainMap(a, b)

ChainMap({'a': 1, 'b': 2}, {'c': 5, 'd': 6})