<a href="https://colab.research.google.com/github/aworklab/everydayPython/blob/main/ex_20230421.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오늘의 목표
* Customer Analysis
* Iterators

In [2]:
import pandas as pd
import numpy as np
import plotnine as gg
from plotnine import ggplot, aes
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, date, time, timezone, timedelta
import os
import re
from functools import reduce
from collections import defaultdict
from scipy import stats
from scipy.stats import norm

# Customer Analysis

In [3]:
os.listdir()

['.config',
 'mall_customers.csv',
 'sales_vs_discount.csv',
 'app_wau.csv',
 'online_retail_II.xlsx',
 'WA_Fn-UseC_-Marketing-Customer-Value-Analysis.csv',
 'KPMG_VI_New_raw_data_update_final.csv',
 'KPMG_VI_New_raw_data_update_final.xlsx',
 'bz_data_analyis.csv',
 'ecommerce-data.csv',
 'test.csv',
 'sample-sales-data.csv',
 'lead_conversion.csv',
 'match_result_test.csv',
 '1_orders_dataset.csv',
 'scanner_data.csv',
 'WA_Fn-UseC_-Telco-Customer-Churn.csv',
 'groceries.csv',
 'cookie_cats.csv',
 'sales.csv',
 '1_customers_dataset.csv',
 '1_order_payments_dataset.csv',
 'mock_sales_data.csv',
 'ab_experiment.csv',
 'sales_data_with_stores.csv',
 'online_retail.xlsx',
 'sample_data']

In [5]:
df = pd.read_csv('KPMG_VI_New_raw_data_update_final.csv')
df['date'] = pd.to_datetime(df['transaction_date'], format = '%d-%m-%Y')
df['week'] = df['date'] - df['date'].dt.weekday.astype('timedelta64[D]')
df.drop(['transaction_date'], axis = 1, inplace = True)
df.head()

   transaction_id  product_id  ...       date       week
0               1           2  ... 2017-02-25 2017-02-20
1               2           3  ... 2017-05-21 2017-05-15
2               3          37  ... 2017-10-16 2017-10-16
3               4          88  ... 2017-08-31 2017-08-28
4               5          78  ... 2017-10-01 2017-09-25

[5 rows x 14 columns]

In [17]:
cnt_rev = df.groupby(['online_order', 'order_status'])['list_price'].agg(['sum', 'count']).reset_index().rename(columns = {'sum':'rev','count':'cnt'})
cnt_rev['ratio_rev'] = cnt_rev.groupby(['online_order'], group_keys = False)['rev'].apply(lambda x : round(x/sum(x)*100,2))
cnt_rev['ratio_cnt'] = cnt_rev.groupby(['online_order'], group_keys = False)['cnt'].apply(lambda x : round(x/sum(x)*100,2))
cnt_rev

   online_order order_status          rev   cnt  ratio_rev  ratio_cnt
0         False     Approved  10776568.41  9735       99.2      99.23
1         False    Cancelled     87043.72    76        0.8       0.77
2          True     Approved  10771244.16  9732       99.0      99.01
3          True    Cancelled    108924.20    97        1.0       0.99

# Iterators

In [18]:
users = [{'mail': 'gregorythomas@gmail.com', 'name': 'Brett Holland', 'sex': 'M', 'age': 73},
 {'mail': 'hintoncynthia@hotmail.com', 'name': 'Madison Martinez', 'sex': 'F', 'age': 29},
 {'mail': 'wwagner@gmail.com', 'name': 'Michael Jenkins', 'sex': 'M', 'age': 51},
 {'mail': 'daniel79@gmail.com', 'name': 'Karen Rodriguez', 'sex': 'F', 'age': 32},
 {'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F', 'age': 42}]
users

[{'mail': 'gregorythomas@gmail.com',
  'name': 'Brett Holland',
  'sex': 'M',
  'age': 73},
 {'mail': 'hintoncynthia@hotmail.com',
  'name': 'Madison Martinez',
  'sex': 'F',
  'age': 29},
 {'mail': 'wwagner@gmail.com',
  'name': 'Michael Jenkins',
  'sex': 'M',
  'age': 51},
 {'mail': 'daniel79@gmail.com',
  'name': 'Karen Rodriguez',
  'sex': 'F',
  'age': 32},
 {'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F', 'age': 42}]

In [20]:
{k : eval(f'reduce(lambda acc, cur : acc + [cur["{k}"]], users, [])') for k in users[0].keys()}

{'mail': ['gregorythomas@gmail.com',
  'hintoncynthia@hotmail.com',
  'wwagner@gmail.com',
  'daniel79@gmail.com',
  'ujackson@gmail.com'],
 'name': ['Brett Holland',
  'Madison Martinez',
  'Michael Jenkins',
  'Karen Rodriguez',
  'Amber Rhodes'],
 'sex': ['M', 'F', 'M', 'F', 'F'],
 'age': [73, 29, 51, 32, 42]}

In [21]:
{k : [user[k] for user in users] for k in users[0].keys()}

{'mail': ['gregorythomas@gmail.com',
  'hintoncynthia@hotmail.com',
  'wwagner@gmail.com',
  'daniel79@gmail.com',
  'ujackson@gmail.com'],
 'name': ['Brett Holland',
  'Madison Martinez',
  'Michael Jenkins',
  'Karen Rodriguez',
  'Amber Rhodes'],
 'sex': ['M', 'F', 'M', 'F', 'F'],
 'age': [73, 29, 51, 32, 42]}