<a href="https://colab.research.google.com/github/aworklab/everydayPython/blob/main/ex_20220713.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오늘의 목표
* iterator

In [1]:
import pandas as pd
import numpy as np

# iterator

In [2]:
mat = [list('ABC'), list('EFG'), list('HIG')]
mat

[['A', 'B', 'C'], ['E', 'F', 'G'], ['H', 'I', 'G']]

In [3]:
for r, row in enumerate(mat) :
  for c, letters in enumerate(mat) :
    print(f'({r}, {c}) - {letters}')

(0, 0) - ['A', 'B', 'C']
(0, 1) - ['E', 'F', 'G']
(0, 2) - ['H', 'I', 'G']
(1, 0) - ['A', 'B', 'C']
(1, 1) - ['E', 'F', 'G']
(1, 2) - ['H', 'I', 'G']
(2, 0) - ['A', 'B', 'C']
(2, 1) - ['E', 'F', 'G']
(2, 2) - ['H', 'I', 'G']

In [5]:
from functools import reduce

In [6]:
users = [{'mail': 'gregorythomas@gmail.com', 'name': 'Brett Holland', 'sex': 'M', 'age': 73},
 {'mail': 'hintoncynthia@hotmail.com', 'name': 'Madison Martinez', 'sex': 'F', 'age': 29},
 {'mail': 'wwagner@gmail.com', 'name': 'Michael Jenkins', 'sex': 'M', 'age': 51},
 {'mail': 'daniel79@gmail.com', 'name': 'Karen Rodriguez', 'sex': 'F', 'age': 32},
 {'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F', 'age': 42}]
users

[{'age': 73,
  'mail': 'gregorythomas@gmail.com',
  'name': 'Brett Holland',
  'sex': 'M'},
 {'age': 29,
  'mail': 'hintoncynthia@hotmail.com',
  'name': 'Madison Martinez',
  'sex': 'F'},
 {'age': 51,
  'mail': 'wwagner@gmail.com',
  'name': 'Michael Jenkins',
  'sex': 'M'},
 {'age': 32,
  'mail': 'daniel79@gmail.com',
  'name': 'Karen Rodriguez',
  'sex': 'F'},
 {'age': 42, 'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F'}]

In [8]:
reduce(lambda acc, cur : acc + cur['age'], users, 0)

227

In [18]:
name = np.array(reduce(lambda acc, cur : acc + [cur['name']], users, []))
name

array(['Brett Holland', 'Madison Martinez', 'Michael Jenkins',
       'Karen Rodriguez', 'Amber Rhodes'], dtype='<U16')

In [19]:
sex = np.array(reduce(lambda acc, cur : acc + [cur['sex']], users, []))
sex

array(['M', 'F', 'M', 'F', 'F'], dtype='<U1')

In [20]:
mail = np.array(reduce(lambda acc, cur : acc + [cur['mail']], users, []))
mail

array(['gregorythomas@gmail.com', 'hintoncynthia@hotmail.com',
       'wwagner@gmail.com', 'daniel79@gmail.com', 'ujackson@gmail.com'],
      dtype='<U25')

In [21]:
age = np.array(reduce(lambda acc, cur : acc + [cur['age']], users, []))
age

array([73, 29, 51, 32, 42])

In [24]:
pd.DataFrame(np.c_[name, age, sex, mail], columns = ['name', 'age', 'sex', 'mail'])

               name age sex                       mail
0     Brett Holland  73   M    gregorythomas@gmail.com
1  Madison Martinez  29   F  hintoncynthia@hotmail.com
2   Michael Jenkins  51   M          wwagner@gmail.com
3   Karen Rodriguez  32   F         daniel79@gmail.com
4      Amber Rhodes  42   F         ujackson@gmail.com