<a href="https://colab.research.google.com/github/aworklab/everydayPython/blob/main/ex_20230511.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오늘의 목표
* Customer Analysis
* Itertators

In [1]:
import pandas as pd
import numpy as np
import plotnine as gg
from plotnine import ggplot, aes
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, date, time, timezone, timedelta
import os
import re
from functools import reduce
from collections import defaultdict 
from scipy import stats
from scipy.stats import norm

# Customer Analytics

In [2]:
os.listdir()

['.config',
 'bz_data_analyis.csv',
 'sales.csv',
 'cookie_cats.csv',
 'WA_Fn-UseC_-Telco-Customer-Churn.csv',
 '1_customers_dataset.csv',
 '1_orders_dataset.csv',
 'WA_Fn-UseC_-Marketing-Customer-Value-Analysis.csv',
 'scanner_data.csv',
 'sales_data_with_stores.csv',
 'sample-sales-data.csv',
 'KPMG_VI_New_raw_data_update_final.xlsx',
 'groceries.csv',
 'online_retail_II.xlsx',
 'online_retail.xlsx',
 'mock_sales_data.csv',
 '1_order_payments_dataset.csv',
 'ecommerce-data.csv',
 'match_result_test.csv',
 'mall_customers.csv',
 'app_wau.csv',
 'KPMG_VI_New_raw_data_update_final.csv',
 'lead_conversion.csv',
 'sales_vs_discount.csv',
 'test.csv',
 'ab_experiment.csv',
 'sample_data']

In [5]:
df = pd.read_csv('bz_data_analyis.csv')
df['order_date'] = pd.to_datetime(df['order_date'], format = '%m/%d/%y %H:%M') 
df['date'] = df['order_date'].to_numpy().astype('datetime64[D]')
df['week'] = df['date'] - df['date'].dt.weekday.astype('timedelta64[D]')
df.head()

<ipython-input-5-6feaa3e64e84>:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.

   customer_id               product  ...       date       week
0       295665    Macbook Pro Laptop  ... 2019-12-30 2019-12-30
1       295666    LG Washing Machine  ... 2019-12-29 2019-12-23
2       295667  USB-C Charging Cable  ... 2019-12-12 2019-12-09
3       295668      27in FHD Monitor  ... 2019-12-22 2019-12-16
4       295669  USB-C Charging Cable  ... 2019-12-18 2019-12-16

[5 rows x 17 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   customer_id       185950 non-null  int64
 1   product           185950 non-null  object
 2   quantity_ordered  185950 non-null  object
 3   price_each        185950 non-null  float64
 4   purchase_address  185950 non-null  object
 5   month             185950 non-null  int64
 6   year              185950 non-null  int64
 7   day               185950 non-null  int64
 8   city              185950 non-null  object
 9   code              185950 non-null  object
 10  sales             185950 non-null  float64
 11  order_date        185950 non-null  datetime64[ns]
 12  hour              185950 non-null  int64
 13  minute            185950 non-null  int64
 14  count             185950 non-null  int64
 15  date              185950 non-null  datetime64[ns]
 16  week              185950 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(7), object(5)
memory usage: 24.1+ MB

In [7]:
df.isnull().sum()

customer_id         0
product             0
quantity_ordered    0
price_each          0
purchase_address    0
month               0
year                0
day                 0
city                0
code                0
sales               0
order_date          0
hour                0
minute              0
count               0
date                0
week                0
dtype: int64

In [9]:
[a for a in df['quantity_ordered'] if re.search('[A-Za-z]',str(a))]

['1+C1273']

In [21]:
df['quantity_ordered'].apply(lambda x : ([a.isalpha() for a in str(x)]))

0         [False]
1         [False]
2         [False]
3         [False]
4         [False]
           ...
185945    [False]
185946    [False]
185947    [False]
185948    [False]
185949    [False]
Name: quantity_ordered, Length: 185950, dtype: object

In [20]:
df['quantity_ordered'].apply(lambda x : any([a.isalpha() for a in str(x)]))

0         False
1         False
2         False
3         False
4         False
          ...
185945    False
185946    False
185947    False
185948    False
185949    False
Name: quantity_ordered, Length: 185950, dtype: bool

In [22]:
df[df['quantity_ordered'].apply(lambda x : any([a.isalpha() for a in str(x)]))]

      customer_id                     product  ...       date       week
1242       296854  Bose SoundSport Headphones  ... 2019-12-14 2019-12-09

[1 rows x 17 columns]

In [29]:
df.loc[1242, 'quantity_ordered'] = '1'
df['quantity_ordered'] = df['quantity_ordered'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   customer_id       185950 non-null  int64
 1   product           185950 non-null  object
 2   quantity_ordered  185950 non-null  int64
 3   price_each        185950 non-null  float64
 4   purchase_address  185950 non-null  object
 5   month             185950 non-null  int64
 6   year              185950 non-null  int64
 7   day               185950 non-null  int64
 8   city              185950 non-null  object
 9   code              185950 non-null  object
 10  sales             185950 non-null  float64
 11  order_date        185950 non-null  datetime64[ns]
 12  hour              185950 non-null  int64
 13  minute            185950 non-null  int64
 14  count             185950 non-null  int64
 15  date              185950 non-null  datetime64[ns]
 16  week              185950 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(8), object(4)
memory usage: 24.1+ MB

# Iterators

In [30]:
users = [{'mail': 'gregorythomas@gmail.com', 'name': 'Brett Holland', 'sex': 'M', 'age': 73},
 {'mail': 'hintoncynthia@hotmail.com', 'name': 'Madison Martinez', 'sex': 'F', 'age': 29},
 {'mail': 'wwagner@gmail.com', 'name': 'Michael Jenkins', 'sex': 'M', 'age': 51},
 {'mail': 'daniel79@gmail.com', 'name': 'Karen Rodriguez', 'sex': 'F', 'age': 32},
 {'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F', 'age': 42}]
users

[{'mail': 'gregorythomas@gmail.com',
  'name': 'Brett Holland',
  'sex': 'M',
  'age': 73},
 {'mail': 'hintoncynthia@hotmail.com',
  'name': 'Madison Martinez',
  'sex': 'F',
  'age': 29},
 {'mail': 'wwagner@gmail.com',
  'name': 'Michael Jenkins',
  'sex': 'M',
  'age': 51},
 {'mail': 'daniel79@gmail.com',
  'name': 'Karen Rodriguez',
  'sex': 'F',
  'age': 32},
 {'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F', 'age': 42}]

In [31]:
{k : eval(f'reduce(lambda acc, cur : acc + [cur["{k}"]], users, [])') for k in users[0].keys()}

{'mail': ['gregorythomas@gmail.com',
  'hintoncynthia@hotmail.com',
  'wwagner@gmail.com',
  'daniel79@gmail.com',
  'ujackson@gmail.com'],
 'name': ['Brett Holland',
  'Madison Martinez',
  'Michael Jenkins',
  'Karen Rodriguez',
  'Amber Rhodes'],
 'sex': ['M', 'F', 'M', 'F', 'F'],
 'age': [73, 29, 51, 32, 42]}

In [32]:
{k : [user[k] for user in users] for k in users[0].keys()}

{'mail': ['gregorythomas@gmail.com',
  'hintoncynthia@hotmail.com',
  'wwagner@gmail.com',
  'daniel79@gmail.com',
  'ujackson@gmail.com'],
 'name': ['Brett Holland',
  'Madison Martinez',
  'Michael Jenkins',
  'Karen Rodriguez',
  'Amber Rhodes'],
 'sex': ['M', 'F', 'M', 'F', 'F'],
 'age': [73, 29, 51, 32, 42]}