<a href="https://colab.research.google.com/github/aworklab/everydayPython/blob/main/ex_20221231.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오늘의 목표
* Customer Analysis
* Iterators

In [1]:
import pandas as pd
import numpy as np
import plotnine as gg
from plotnine import ggplot, aes
import matplotlib.pyplot as plt 
import seaborn as sns 
from datetime import datetime, date, time, timezone, timedelta 

import os
import re

from functools import reduce
from collections import defaultdict

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score

# Customer Analysis

In [2]:
os.listdir()

['.config',
 'sales.csv',
 'online_retail.xlsx',
 '1_order_payments_dataset.csv',
 'online_retail_II.xlsx',
 'KPMG_VI_New_raw_data_update_final.xlsx',
 'scanner_data.csv',
 '1_customers_dataset.csv',
 'match_result_test.csv',
 'WA_Fn-UseC_-Marketing-Customer-Value-Analysis.csv',
 '1_orders_dataset.csv',
 'sales_vs_discount.csv',
 'KPMG_VI_New_raw_data_update_final.csv',
 'mall_customers.csv',
 'WA_Fn-UseC_-Telco-Customer-Churn.csv',
 'bz_data_analyis.csv',
 'mock_sales_data.csv',
 'groceries.csv',
 'test.csv',
 'sales_data_with_stores.csv',
 'sample-sales-data.csv',
 'ecommerce-data.csv',
 'sample_data']

In [4]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
df.columns = ['_'.join(re.split('(?=[A-Z][a-z])', a[0].lower()+a[1:])).lower() for a in df.columns]
df.head()

   customerid  gender  senior_citizen  ... monthly_charges total_charges  churn
0  7590-VHVEG  Female               0  ...           29.85         29.85     No
1  5575-GNVDE    Male               0  ...           56.95        1889.5     No
2  3668-QPYBK    Male               0  ...           53.85        108.15    Yes
3  7795-CFOCW    Male               0  ...           42.30       1840.75     No
4  9237-HQITU  Female               0  ...           70.70        151.65    Yes

[5 rows x 21 columns]

In [5]:
df.isnull().sum()

customerid           0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streamingtv          0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerid         7043 non-null   object
 1   gender             7043 non-null   object
 2   senior_citizen     7043 non-null   int64
 3   partner            7043 non-null   object
 4   dependents         7043 non-null   object
 5   tenure             7043 non-null   int64
 6   phone_service      7043 non-null   object
 7   multiple_lines     7043 non-null   object
 8   internet_service   7043 non-null   object
 9   online_security    7043 non-null   object
 10  online_backup      7043 non-null   object
 11  device_protection  7043 non-null   object
 12  tech_support       7043 non-null   object
 13  streamingtv        7043 non-null   object
 14  streaming_movies   7043 non-null   object
 15  contract           7043 non-null   object
 16  paperless_billing  7043 non-null   object
 17  payment_method     7043 non-null   object
 18  monthly_charges    7043 non-null   float64
 19  total_charges      7043 non-null   object
 20  churn              7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [18]:
col_len = df[['total_charges']].assign(len = [len(a) for a in df['total_charges']])
remove_index = col_len[col_len['len'] == 1].index
df = df[~df.index.isin(remove_index)]
df['total_charges'] = df['total_charges'].astype(float)
df

<ipython-input-18-03fc6e80a114>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      customerid  gender  senior_citizen  ... monthly_charges total_charges  churn
0     7590-VHVEG  Female               0  ...           29.85         29.85     No
1     5575-GNVDE    Male               0  ...           56.95       1889.50     No
2     3668-QPYBK    Male               0  ...           53.85        108.15    Yes
3     7795-CFOCW    Male               0  ...           42.30       1840.75     No
4     9237-HQITU  Female               0  ...           70.70        151.65    Yes
...          ...     ...             ...  ...             ...           ...    ...
7038  6840-RESVB    Male               0  ...           84.80       1990.50     No
7039  2234-XADUH  Female               0  ...          103.20       7362.90     No
7040  4801-JZAZL  Female               0  ...           29.60        346.45     No
7041  8361-LTMKD    Male               1  ...           74.40        306.60    Yes
7042  3186-AJIEK    Male               0  ...          105.65       6844.50     No

[7032 rows x 21 columns]

In [20]:
col_num = ['tenure','monthly_charges', 'total_charges']
col_nom = ['gender', 'senior_citizen', 'partner', 'dependents','phone_service', 'multiple_lines', 'internet_service',
           'online_security', 'online_backup', 'device_protection', 'tech_support',
           'streamingtv', 'streaming_movies', 'contract', 'paperless_billing','payment_method'
           ]
col_target = 'churn'

In [21]:
df_dummy = pd.get_dummies(df[col_nom])
df_dummy.head()

   senior_citizen  ...  payment_method_Mailed check
0               0  ...                            0
1               0  ...                            1
2               0  ...                            1
3               0  ...                            0
4               0  ...                            0

[5 rows x 42 columns]

In [23]:
x = pd.concat([df[col_num], df_dummy], axis = 1)
x.head()

   tenure  ...  payment_method_Mailed check
0       1  ...                            0
1      34  ...                            1
2       2  ...                            1
3      45  ...                            0
4       2  ...                            0

[5 rows x 45 columns]

In [28]:
y = df[col_target].apply(lambda x : {'Yes' : 1, 'No' : 0}.get(x,x))
y = np.array(y)
y

array([0, 0, 1, ..., 0, 1, 0])

In [29]:
x_tr, x_te, y_tr, y_te = train_test_split(x, y, train_size = .7)

In [30]:
fit_rf = RandomForestClassifier()
fit_lg = LogisticRegression()

In [31]:
fit_rf.fit(x_tr, y_tr)
fit_lg.fit(x_tr, y_tr)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

LogisticRegression()

In [33]:
pred_rf = fit_rf.predict(x_te)
pred_lg = fit_lg.predict(x_te)

In [34]:
print(accuracy_score(y_te, pred_rf), accuracy_score(y_te, pred_lg))

0.790521327014218 0.8151658767772512

# Iterators

In [35]:
users = [{'mail': 'gregorythomas@gmail.com', 'name': 'Brett Holland', 'sex': 'M', 'age': 73},
 {'mail': 'hintoncynthia@hotmail.com', 'name': 'Madison Martinez', 'sex': 'F', 'age': 29},
 {'mail': 'wwagner@gmail.com', 'name': 'Michael Jenkins', 'sex': 'M', 'age': 51},
 {'mail': 'daniel79@gmail.com', 'name': 'Karen Rodriguez', 'sex': 'F', 'age': 32},
 {'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F', 'age': 42}]
users

[{'mail': 'gregorythomas@gmail.com',
  'name': 'Brett Holland',
  'sex': 'M',
  'age': 73},
 {'mail': 'hintoncynthia@hotmail.com',
  'name': 'Madison Martinez',
  'sex': 'F',
  'age': 29},
 {'mail': 'wwagner@gmail.com',
  'name': 'Michael Jenkins',
  'sex': 'M',
  'age': 51},
 {'mail': 'daniel79@gmail.com',
  'name': 'Karen Rodriguez',
  'sex': 'F',
  'age': 32},
 {'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F', 'age': 42}]

In [36]:
{k : eval(f'reduce(lambda acc, cur : acc + [cur["{k}"]], users, [])') for k in list(users[0].keys())}

{'mail': ['gregorythomas@gmail.com',
  'hintoncynthia@hotmail.com',
  'wwagner@gmail.com',
  'daniel79@gmail.com',
  'ujackson@gmail.com'],
 'name': ['Brett Holland',
  'Madison Martinez',
  'Michael Jenkins',
  'Karen Rodriguez',
  'Amber Rhodes'],
 'sex': ['M', 'F', 'M', 'F', 'F'],
 'age': [73, 29, 51, 32, 42]}

올해 반년 동안 연습하면서 많은 부침이 있었고 알맹이도 별로 없었지만 꾸준히 할 수 있어서 감사했습니다.