<a href="https://colab.research.google.com/github/aworklab/everydayPython/blob/main/ex_20220714.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오늘의 목표
* iterator

In [1]:
import pandas as pd 
import numpy as np

* iterator

In [2]:
mat = [list('ABC'), list('DEF'), list('GHI')]
mat

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

In [3]:
for r, mat in enumerate(mat) :
  for c, letter in enumerate(mat) :
    print(f'({r},{c})-{letter}')

(0,0)-A
(0,1)-B
(0,2)-C
(1,0)-D
(1,1)-E
(1,2)-F
(2,0)-G
(2,1)-H
(2,2)-I

In [4]:
from functools import reduce

In [5]:
users = [{'mail': 'gregorythomas@gmail.com', 'name': 'Brett Holland', 'sex': 'M', 'age': 73},
 {'mail': 'hintoncynthia@hotmail.com', 'name': 'Madison Martinez', 'sex': 'F', 'age': 29},
 {'mail': 'wwagner@gmail.com', 'name': 'Michael Jenkins', 'sex': 'M', 'age': 51},
 {'mail': 'daniel79@gmail.com', 'name': 'Karen Rodriguez', 'sex': 'F', 'age': 32},
 {'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F', 'age': 42}]
users

[{'age': 73,
  'mail': 'gregorythomas@gmail.com',
  'name': 'Brett Holland',
  'sex': 'M'},
 {'age': 29,
  'mail': 'hintoncynthia@hotmail.com',
  'name': 'Madison Martinez',
  'sex': 'F'},
 {'age': 51,
  'mail': 'wwagner@gmail.com',
  'name': 'Michael Jenkins',
  'sex': 'M'},
 {'age': 32,
  'mail': 'daniel79@gmail.com',
  'name': 'Karen Rodriguez',
  'sex': 'F'},
 {'age': 42, 'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F'}]

In [6]:
reduce(lambda acc, cur : acc + cur['age'], users, 0)

227

In [7]:
reduce(lambda acc, cur : acc + [cur['age']], users, [])

[73, 29, 51, 32, 42]

In [8]:
reduce(lambda acc, cur : acc + [cur['mail']], users, [])

['gregorythomas@gmail.com',
 'hintoncynthia@hotmail.com',
 'wwagner@gmail.com',
 'daniel79@gmail.com',
 'ujackson@gmail.com']

In [15]:
list_keys = list(users[0].keys())
key = list_keys[0]

In [27]:
for key in list_keys :
  if key == list_keys[0] :
    x = eval(f"reduce(lambda acc, cur : acc + [cur['{key}']], users, [])")
  else : 
    x = np.c_[x, eval(f"reduce(lambda acc, cur : acc + [cur['{key}']], users, [])")]

pd.DataFrame(x, columns = list_keys)

                        mail              name sex age
0    gregorythomas@gmail.com     Brett Holland   M  73
1  hintoncynthia@hotmail.com  Madison Martinez   F  29
2          wwagner@gmail.com   Michael Jenkins   M  51
3         daniel79@gmail.com   Karen Rodriguez   F  32
4         ujackson@gmail.com      Amber Rhodes   F  42