<a href="https://colab.research.google.com/github/aworklab/everydayPython/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오늘의 목표
* customer analysis 
* iterator

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import os 
from datetime import datetime, date, time, timezone, timedelta

# customer analysis

In [4]:
os.listdir()

['.config',
 'item_categories.csv',
 'shops.csv',
 'listings.csv',
 'retail_data_transactions.csv',
 'ecommerce-data.csv',
 'rfm_test.csv',
 'KPMG_VI_New_raw_data_update_final.xlsx',
 'test.csv',
 'items.csv',
 'sales_train.csv',
 'sample_submission.csv',
 'retail_data_response.csv',
 'online_retail_II.xlsx',
 '.Rhistory',
 'sample_data']

In [5]:
df = pd.read_csv('retail_data_transactions.csv')
df.head()

  customer_id trans_date  tran_amount
0      CS5295  11-Feb-13           35
1      CS4768  15-Mar-15           39
2      CS2122  26-Feb-13           52
3      CS1217  16-Nov-11           99
4      CS1850  20-Nov-13           78

In [6]:
df['date'] = pd.to_datetime(df['trans_date'])
df['month'] = df['date'].to_numpy().astype('datetime64[M]')
df.head()

  customer_id trans_date  tran_amount       date      month
0      CS5295  11-Feb-13           35 2013-02-11 2013-02-01
1      CS4768  15-Mar-15           39 2015-03-15 2015-03-01
2      CS2122  26-Feb-13           52 2013-02-26 2013-02-01
3      CS1217  16-Nov-11           99 2011-11-16 2011-11-01
4      CS1850  20-Nov-13           78 2013-11-20 2013-11-01

In [11]:
df = df[['customer_id', 'date', 'month', 'tran_amount']].rename(columns = {'customer_id':'id','tran_amount':'rev'})
df.head()

       id       date      month  rev
0  CS5295 2013-02-11 2013-02-01   35
1  CS4768 2015-03-15 2015-03-01   39
2  CS2122 2013-02-26 2013-02-01   52
3  CS1217 2011-11-16 2011-11-01   99
4  CS1850 2013-11-20 2013-11-01   78

In [12]:
df = df.groupby(['id','date','month'])['rev'].sum().reset_index()
df.head()

       id       date      month  rev
0  CS1112 2011-06-15 2011-06-01   56
1  CS1112 2011-08-19 2011-08-01   96
2  CS1112 2011-10-02 2011-10-01   60
3  CS1112 2012-04-08 2012-04-01   56
4  CS1112 2012-06-24 2012-06-01   52

In [16]:
info_m = df.groupby(['id','month'])['rev'].sum().reset_index().rename(columns = {'rev':'money'})
info_m = pd.pivot_table(info_m, index = 'id', columns = 'month', values = 'money').reset_index()
info_m = pd.melt(info_m, id_vars = 'id', var_name = 'month', value_name = 'money').sort_values(['id','month'], ascending = [1,0])
info_m = info_m.groupby(['id']).head(3)
info_m = info_m.groupby(['id'])['money'].sum().reset_index()
info_m.head()

       id  money
0  CS1112   39.0
1  CS1113  220.0
2  CS1114   79.0
3  CS1115   55.0
4  CS1116    0.0

In [17]:
info_f = df.groupby(['id','month'])['rev'].count().reset_index().rename(columns = {'rev':'freq'})
info_f = pd.pivot_table(info_f, index = 'id', columns = 'month', values = 'freq').reset_index()
info_f = pd.melt(info_f, id_vars = 'id', var_name = 'month', value_name = 'freq').sort_values(['id','month'], ascending = [1,0])
info_f = info_f.groupby(['id']).head(3)
info_f = info_f.groupby(['id'])['freq'].sum().reset_index()
info_f.head()

       id  freq
0  CS1112   1.0
1  CS1113   2.0
2  CS1114   1.0
3  CS1115   1.0
4  CS1116   0.0

In [18]:
df['date'].max()

Timestamp('2015-03-16 00:00:00')

In [19]:
date_now = datetime(2015,3,31)

In [24]:
info_r = df.groupby(['id']).agg({'date': lambda x : (date_now-x.max()).days}).reset_index().rename(columns = {'date':'recency'})
info_r.head()

       id  recency
0  CS1112       76
1  CS1113       50
2  CS1114       47
3  CS1115       26
4  CS1116      218

In [26]:
info = pd.merge(pd.merge(info_r, info_f, 'left', 'id'), info_m, 'left', 'id')
info.head()

       id  recency  freq  money
0  CS1112       76   1.0   39.0
1  CS1113       50   2.0  220.0
2  CS1114       47   1.0   79.0
3  CS1115       26   1.0   55.0
4  CS1116      218   0.0    0.0

In [29]:
info = info.assign(r = pd.qcut(info.recency, 5, list('54321')),
            f = pd.qcut(info.freq.rank(method = 'first'), 5, list('12345')),
            m = pd.qcut(info.money.rank(method = 'first'), 5, list('12345'))
)
info.head()

       id  recency  freq  money  r  f  m
0  CS1112       76   1.0   39.0  3  2  3
1  CS1113       50   2.0  220.0  4  4  5
2  CS1114       47   1.0   79.0  4  2  4
3  CS1115       26   1.0   55.0  5  2  3
4  CS1116      218   0.0    0.0  1  1  1

In [30]:
info.assign(rf = info.r.astype(str) + info.f.astype(str))

          id  recency  freq  money  r  f  m  rf
0     CS1112       76   1.0   39.0  3  2  3  32
1     CS1113       50   2.0  220.0  4  4  5  44
2     CS1114       47   1.0   79.0  4  2  4  42
3     CS1115       26   1.0   55.0  5  2  3  52
4     CS1116      218   0.0    0.0  1  1  1  11
...      ...      ...   ...    ... .. .. ..  ..
6884  CS8996      112   0.0    0.0  2  2  2  22
6885  CS8997      276   0.0    0.0  1  2  2  12
6886  CS8998       99   0.0    0.0  2  2  2  22
6887  CS8999      272   0.0    0.0  1  2  2  12
6888  CS9000       31   1.0   34.0  5  4  3  54

[6889 rows x 8 columns]

# iterator

In [31]:
from functools import reduce

In [33]:
mat = [list('abc'), list('def'), list('hig')]
mat

[['a', 'b', 'c'], ['d', 'e', 'f'], ['h', 'i', 'g']]

In [34]:
for r, rows in enumerate(mat) :
  for c, letter in enumerate(mat) :
    print(f'({r},{c})-{letter}')

(0,0)-['a', 'b', 'c']
(0,1)-['d', 'e', 'f']
(0,2)-['h', 'i', 'g']
(1,0)-['a', 'b', 'c']
(1,1)-['d', 'e', 'f']
(1,2)-['h', 'i', 'g']
(2,0)-['a', 'b', 'c']
(2,1)-['d', 'e', 'f']
(2,2)-['h', 'i', 'g']

In [35]:
users = [{'mail': 'gregorythomas@gmail.com', 'name': 'Brett Holland', 'sex': 'M', 'age': 73},
 {'mail': 'hintoncynthia@hotmail.com', 'name': 'Madison Martinez', 'sex': 'F', 'age': 29},
 {'mail': 'wwagner@gmail.com', 'name': 'Michael Jenkins', 'sex': 'M', 'age': 51},
 {'mail': 'daniel79@gmail.com', 'name': 'Karen Rodriguez', 'sex': 'F', 'age': 32},
 {'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F', 'age': 42}]
users

[{'age': 73,
  'mail': 'gregorythomas@gmail.com',
  'name': 'Brett Holland',
  'sex': 'M'},
 {'age': 29,
  'mail': 'hintoncynthia@hotmail.com',
  'name': 'Madison Martinez',
  'sex': 'F'},
 {'age': 51,
  'mail': 'wwagner@gmail.com',
  'name': 'Michael Jenkins',
  'sex': 'M'},
 {'age': 32,
  'mail': 'daniel79@gmail.com',
  'name': 'Karen Rodriguez',
  'sex': 'F'},
 {'age': 42, 'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F'}]

In [37]:
list_keys = list(users[0].keys())
list_keys

['mail', 'name', 'sex', 'age']

In [39]:
for key in list_keys :
  if key == list_keys[0] :
    res = eval(f'reduce(lambda acc, cur : acc + [cur["{key}"]], users, [])')
  else : 
    res = np.c_[res, eval(f'reduce(lambda acc, cur : acc + [cur["{key}"]], users, [])')]

res

array([['gregorythomas@gmail.com', 'Brett Holland', 'M', '73'],
       ['hintoncynthia@hotmail.com', 'Madison Martinez', 'F', '29'],
       ['wwagner@gmail.com', 'Michael Jenkins', 'M', '51'],
       ['daniel79@gmail.com', 'Karen Rodriguez', 'F', '32'],
       ['ujackson@gmail.com', 'Amber Rhodes', 'F', '42']], dtype='<U25')

In [40]:
pd.DataFrame(res, columns = list_keys)

                        mail              name sex age
0    gregorythomas@gmail.com     Brett Holland   M  73
1  hintoncynthia@hotmail.com  Madison Martinez   F  29
2          wwagner@gmail.com   Michael Jenkins   M  51
3         daniel79@gmail.com   Karen Rodriguez   F  32
4         ujackson@gmail.com      Amber Rhodes   F  42

In [41]:
def conv_name(user) :
  first, last = user['name'].split()
  return {'first' : first, 'last' : last}

In [43]:
list(map(conv_name, users))

[{'first': 'Brett', 'last': 'Holland'},
 {'first': 'Madison', 'last': 'Martinez'},
 {'first': 'Michael', 'last': 'Jenkins'},
 {'first': 'Karen', 'last': 'Rodriguez'},
 {'first': 'Amber', 'last': 'Rhodes'}]

In [47]:
a = [{'first': a['name'].split()[0], 'last' : a['name'].split()[1]} for a in users]
pd.DataFrame(a)

     first       last
0    Brett    Holland
1  Madison   Martinez
2  Michael    Jenkins
3    Karen  Rodriguez
4    Amber     Rhodes

In [50]:
list(filter(lambda x : x['mail'].endswith('@gmail.com'), users))

[{'age': 73,
  'mail': 'gregorythomas@gmail.com',
  'name': 'Brett Holland',
  'sex': 'M'},
 {'age': 51,
  'mail': 'wwagner@gmail.com',
  'name': 'Michael Jenkins',
  'sex': 'M'},
 {'age': 32,
  'mail': 'daniel79@gmail.com',
  'name': 'Karen Rodriguez',
  'sex': 'F'},
 {'age': 42, 'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'sex': 'F'}]

In [4]:
from itertools import combinations, combinations_with_replacement, permutations, product
from itertools import chain, count

In [58]:
a = list('ABC')

In [59]:
for i in combinations(a, 2) :
  print(i)

('A', 'B')
('A', 'C')
('B', 'C')

In [60]:
for i in combinations_with_replacement(a,2) :
  print(i)

('A', 'A')
('A', 'B')
('A', 'C')
('B', 'B')
('B', 'C')
('C', 'C')

In [61]:
for i in permutations(a) :
  print(i)

('A', 'B', 'C')
('A', 'C', 'B')
('B', 'A', 'C')
('B', 'C', 'A')
('C', 'A', 'B')
('C', 'B', 'A')

In [64]:
a1, a2 = list('AB'), list('12')

for i in product(a1, a2) :
  print(i)

('A', '1')
('A', '2')
('B', '1')
('B', '2')

In [66]:
letters = list('abcdef')
bools = [1,0,1,0,0,1]
dec = [.1, .7, .4, .4, .5]

In [68]:
list(chain(letters, bools, dec))

['a', 'b', 'c', 'd', 'e', 'f', 1, 0, 1, 0, 0, 1, 0.1, 0.7, 0.4, 0.4, 0.5]

In [69]:
letters + bools + dec

['a', 'b', 'c', 'd', 'e', 'f', 1, 0, 1, 0, 0, 1, 0.1, 0.7, 0.4, 0.4, 0.5]

In [12]:
from collections import Counter, defaultdict, ChainMap

In [7]:
portfolio = [
    ('GOOG', 100, 490.1),
    ('IBM', 50, 91.1),
    ('CAT', 150, 83.44),
    ('IBM', 100, 45.23),
    ('GOOG', 75, 572.45),
    ('AA', 50, 23.15)
]

In [8]:
total = Counter()

for name, shares, price in portfolio :
  total[name] += shares

total

Counter({'AA': 50, 'CAT': 150, 'GOOG': 175, 'IBM': 150})

In [10]:
holdings = defaultdict(list)

for name, shares, price in portfolio :
  holdings[name].append((shares, price))

holdings

defaultdict(list,
            {'AA': [(50, 23.15)],
             'CAT': [(150, 83.44)],
             'GOOG': [(100, 490.1), (75, 572.45)],
             'IBM': [(50, 91.1), (100, 45.23)]})

In [11]:
scores = ['A', 'B', 'B', 'C', 'C', 'D', 'A']
Counter(scores)

Counter({'A': 2, 'B': 2, 'C': 2, 'D': 1})

In [13]:
score1 = {'A' : 3, 'B' : 5}
score2 = {'C' : 4, 'D' : 1}
ChainMap(score1, score2)

ChainMap({'A': 3, 'B': 5}, {'C': 4, 'D': 1})

In [14]:
lst = ['aa', 'cc', 'dd', 'aa', 'bb', 'ee']
Counter(lst)

Counter({'aa': 2, 'bb': 1, 'cc': 1, 'dd': 1, 'ee': 1})